<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            Project
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            No. of tasks:
          </div>
          <div class="col-md-6">
            Completed:
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Start Date:
          </div>
          <div class="col-md-6">
            End Date:
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            Priority:
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            ABC
          </div>
        </div>

      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" class="btn btn-lg btn-block btn-secondary">Update</button>
      </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" class="btn btn-lg btn-block btn-secondary">Suspend</button>
      </li>
    </ul>
  </div>
</div>