<form class="project-form form-horizontal" #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)" name="projectForm" novalidate>
  <input type="hidden" name="ProjectID" #ProjectID="ngModel" [(ngModel)]="projectService.selectedProject.ProjectID">
  <div class="form-group">
    <label for="ProjectName" class="col-md-2">Project:</label>
    <div class="form-group col-md-7">

      <input class="form-control" name="ProjectName" #ProjectName="ngModel" [(ngModel)]="projectService.selectedProject.ProjectName" required>
      <div class="validation-error" *ngIf="ProjectName.invalid && ProjectName.touched">This Field is Required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="SetDate" class="col-md-2"></label>
    <div class="col-md-3">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="SetDate" #SetDate="ngModel" [(ngModel)]="projectService.selectedProject.SetDate" placeholder="SetDate" (change)="SetDateRange($event)">
          Set Start Date and End Date
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <input class="datepicker" [disabled]="!projectService.selectedProject.SetDate" type="date" name="Start_Date" #Start_Date="ngModel" [(ngModel)]="projectService.selectedProject.Start_Date" placeholder="Start Date">
    </div>
    <div class="col-md-2">
      <input class="datepicker" [disabled]="!projectService.selectedProject.SetDate" type="date" name="End_Date" #End_Date="ngModel" [(ngModel)]="projectService.selectedProject.End_Date" placeholder="End Date">
    </div>

  </div>
  <div class="form-group">
    <label for="Range" class="col-md-2">Priority:</label>
    <div class="form-group col-md-7">
      <input class="form-control slider" name="Priority" type="range" data-slider-ticks="[0,30]" data-slider-ticks-labels="[0,30]" value="0" #Priority="ngModel" [(ngModel)]="projectService.selectedProject.Priority">
    </div>
  </div>
  <div class="form-group">
    <label for="Range" class="col-md-2">Manager:</label>
    <div class="col-md-2">
      <input type="text" name="Manager" disabled="disabled" #ManagerId="ngModel" [(ngModel)]="projectService.selectedProject.ManagerId" />
    </div>
      <div class="col-md-5">
        <button type="button" class="btn" value="Search" data-toggle="modal" data-target="#searchModal">Search
        </button>
      </div>
    
  </div>
  <div class="form-row">
    <label for="Range" class="col-md-6"></label>
    <div class="col-md-1">
      <button [disabled]="!projectForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Add
      </button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(ProjectForm)">
        <i class="fa fa-repeat"></i> Reset
      </button>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-9">
      <hr />
      </div>
    </div>

      <!-- The Modal -->
      <div class="modal" id="searchModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
</form>