/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.top-buffer {
  margin-top: 20px;
}
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}